.form {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 1rem;
  padding: 1rem;
  background: white;
}

.input {
  width: 100%;
}

.button {
  display: grid;
  align-items: center;
  font-size: 2.2rem;
  background: none;
}
